.wrapper {
    width: 100%;

}

/* body {
    display: flex;
    min-height: 100vh;
    align-items: center;
} */

.wrapper .carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.carousel .card {
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.with-border {
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.line-height {
    line-height: 250px;
    font-size: 90px;
}

.margin-bottom {
    margin-bottom: 6rem;
}

.carousel .card-1 {
    background-color: #ed1c24;
}

.carousel .card-2 {
    background-color: #0072bc;
}

.carousel .card-3 {
    background-color: #39b54a;
}

.carousel .card-4 {
    background-color: #f26522;
}

.carousel .card-5 {
    background-color: #630460;
}

.flex-display {
    display: flex;
    gap: 1rem;
}

/* .wrapper .owl-dots {
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper .owl-dot {
    height: 15px;
    width: 45px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid #0072bc !important;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

}

.wrapper .owl-dot:hover,
.wrapper .owl-dot.active {
    background-color: #0072bc !important;
} */

@media only screen and (max-width: 600px) {
    .flex-display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}