@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

:root {
  --background: #fff;
  --nav-background: #fff;
  --font-color-heading: #000;
  --font-color-paragraph: #2e2e2e;
  --font-color-paragraph-light: #474748;
  --font-color-white: #fff;
  --orange-color: #f32316;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--font-color-paragraph);
  background: var(--background);

  display: grid;
  grid-template-rows: auto 1fr;
}

a {
  text-decoration: none;
}
/* -------------- Designing Menu ----------------- */
.menu {
  padding: 20px 0px;
  position: sticky;
  top: 0;
  left: 0;
  background: var(--nav-background);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
  z-index: 3;
}
.menu .logo {
  height: 39px;
}
#menu-open {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: block;
  background: var(--orange-color);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 5px 5px;
}
ul {
  list-style: none;
}

.container {
  width: 90vw;
  margin: auto;
}

.menu .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu-items {
  text-transform: capitalize;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
  transform: translateX(100vw);
  width: 90%;

  transition: all 0.5s cubic-bezier(0, 1, 1, 1);
  /* transition: width 1.7s cubic-bezier(0, 1, 1, 1); */
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
}
#menu-items > a,
#menu-items > button {
  transform: translateX(150%);
  transition: transform 0.7s cubic-bezier(0, 1, 1, 1);
}

#menu-items > a {
  padding: 20px 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--font-color-heading);
  border-bottom: 1px solid rgba(201, 197, 197, 0.31);
}

#menu-items > a:nth-child(7) {
  border-bottom: 0px;
  margin-bottom: 40px;
}

#menu-items > #login {
  background: var(--orange-color);
  box-shadow: 0px 4px 22px 1px rgba(131, 129, 129, 0.32);
  border-radius: 30px;
  padding: 18px 36px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}

#menu-items.show-menu-items {
  transform: translateX(0);
  width: 100%;
  opacity: 1;
}
#menu-items.show-menu-items > a,
#menu-items.show-menu-items > button {
  transform: translateX(0%);
}

@media (min-width: 760px) {
  #menu-open {
    display: none;
  }
  .container {
    max-width: 1000px;
    margin: auto;
  }
  #menu-items {
    position: static;

    transform: translateX(0);
    transition: all 0.5s ease;
    opacity: 1;
    height: 100%;
    width: auto;
    flex-direction: row;
    justify-content: flex-end;
  }

  #menu-items > a:not(:last-child) {
    margin-right: 6vw;
  }

  #menu-items > a {
    margin-bottom: 0px;
    flex-grow: 1;
  }
}

/* ---------- HERO Section------- */
header#hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 136px;
}

.testimonials-section {
  order: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 30px;
  padding: 34px 65px;
  background: linear-gradient(
    180deg,
    rgba(255, 245, 245, 0.91) 50%,
    rgba(255, 245, 245, 0) 128.08%
  );
  margin-bottom: 2rem;
}

.testimonial > .youtube-link {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.testimonial > .youtube-link img {
  display: block;
  margin: auto;
}
.testimonial > .youtube-link .rank {
  position: absolute;
  top: 30%;
  /* transform: translate(110%, 0%); */
  width: 30%;
  text-align: center;
  font-weight: 500;
  font-size: 10px;
  color: var(--font-color-heading);
}

.testimonial {
  position: relative;
}
.main-section {
  order: 2;
}

.main-section .notify span {
  background: #6cb520;
  border-radius: 3px;
  font-weight: 500;
  font-size: 9px;
  line-height: 14px;
  color: #ffffff;
  padding: 7px 9px;
}
.notify {
  margin-bottom: 0.5rem;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  /* animation: animateTop0 2s ease; */
}

.course-description {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--font-color-paragraph-light);
}

.price {
  font-size: 20px;
  line-height: 30px;
  color: var(--font-color-heading);
  margin-top: 0.5rem;
  margin-bottom: 22px;
}
.price .discount {
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--orange-color);
  display: inline-block;
  margin-left: 0.5rem;
}

.buttons {
  display: flex;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}

button i {
  position: absolute;
  right: 10px;
  background: var(--orange-color);
  border-radius: 26px;
  padding: 0.2rem;
  color: #fff;
}

button.dark-btn i {
  animation: vibrate 1s linear infinite both;
}
@keyframes vibrate {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}

button.light-btn {
  position: relative;
  border: 1px solid #000000;
  border-radius: 26px;
  padding: 14px 50px 14px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

button.dark-btn {
  position: relative;
  background: #000000;
  box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  color: #fff;
  padding: 14px 50px 14px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-right: 10px;
}

#container-for-free-course-and-imp-info #free-courses {
  padding: 34px 32px;
  background: linear-gradient(
    107.95deg,
    #3f3f3f 2.44%,
    #353535 46.26%,
    #000000 97.42%
  );
  border-radius: 12px;
  color: var(--font-color-white);
  height: 416px;
  margin-bottom: 52px;
}

h3 {
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
}

#free-courses h3 {
  color: #e7b623;
  margin-bottom: 26px;
}

#free-courses .courses,
#important-info .information {
  height: 90%;
  overflow-y: scroll;
}

#free-courses .courses ul li {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
#free-courses .courses ul li img {
  margin-right: 22px;
}

#free-courses .courses ul li h4,
#important-info ul li h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#important-info {
  background: linear-gradient(
    107.95deg,
    #ffe9c7 2.44%,
    #ffe1b3 31.39%,
    #ffd89c 79.71%
  );
  border-radius: 12px;
  padding: 34px 32px;
  height: 416px;
  margin-bottom: 52px;
}

#important-info h3 {
  font-weight: 600;
  margin-bottom: 26px;
}

#important-info ul li {
  display: flex;
  align-items: center;
  padding: 16px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.42);
}

#important-info ul li img {
  margin-right: 22px;
}

/* --------Test Series------------ */

#enroll-test-series {
  padding: 60px 50px 60px 25px;
  background: #feefef;
  border-radius: 12px;
  margin-bottom: 4rem;
}

h2 {
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
}

#enroll-test-series .main-heading {
  margin-bottom: 1rem;
}

#enroll-test-series p {
  margin-bottom: 2.5rem;
}

#individual-courses {
  margin-bottom: 4rem;
}
#individual-courses h2,
#individual-courses > p:first-of-type {
  text-align: center;
}

#individual-courses > p:first-of-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 3rem;
}

#courses-container {
  display: flex;
  overflow-x: scroll;
  padding: 30px 0px;
  transition: all 1s ease;
}

#courses-container .course {
  flex-shrink: 0;
  flex-grow: 0;
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  padding: 14px 15px;
  margin-right: 20px;
  max-width: 65vw;
}
#courses-container .course:first-child {
  margin-left: 20px;
}

#courses-container .course img {
  margin-bottom: 1rem;
}

#courses-container .course p {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: var(--font-color-heading);
}

#courses-container .course h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 1.5rem;
}
#courses-container .course a {
  display: flex;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #f32316;
}
#courses-container .course a i {
  margin-left: 0.4rem;
}

/* ------- styling team section --------------- */
#team {
  background: #fff5f5;
  border-radius: 12px;
  padding: 70px 32px 10px 32px;
  text-align: center;
  margin-bottom: 60px;
}

#team h2 {
  margin-bottom: 0.25rem;
}
#team > p {
  font-size: 16px;
  line-height: 24px;

  color: #474748;
  margin-bottom: 2rem;
}
#team .member p {
  color: var(--font-color-heading);
  transform: translateY(-1.5rem);
}

#team .member {
  margin-bottom: 1rem;
}

#team .member p.name {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

#FAQs {
  margin-bottom: 2rem;
}

#FAQs h2 {
  margin-bottom: 2rem;
  text-align: center;
}

#FAQs .question-container {
  background: #ffffff;
  border: 0.6px solid #e6e6e6;
  border-radius: 20px;
  padding: 18px 22px 18px 50px;
  margin-bottom: 2rem;
  /* max-height: 50px; */
  overflow: hidden;
  transition: max-height 0.5s ease;
}

#FAQs .question-container i {
  display: inline;
  position: absolute;
  left: 35px;
  background: white;
  box-shadow: none;
  color: var(--orange-color);
  padding: 0px;
  margin: 0px;
}
#FAQs .question-container .question p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

#FAQs .question-container .answer::before {
  content: "";
  border: 1.2px solid #f32316;
  transform: rotate(90deg) translateY(45px) translateX(30px);
  width: 47px;
  position: absolute;
}

#FAQs .question-container .answer {
  /* display: none; */
  /* height: 0px; */
  position: relative;
  padding-top: 1rem;
  transition: all 1s ease;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #474748;
}

.show {
  /* display: block !important; */
  max-height: 500px !important;
}

#contact-us-btn {
  margin: auto;
  margin-bottom: 5rem;
}

.orange {
  color: var(--orange-color);
}

#testimonials {
  padding: 4rem 20px;
  background: #f3fbfe;
  border-radius: 12px;
}
#testimonials > h2,
#testimonials > p {
  text-align: center;
}

#testimonials > h2 {
  margin-bottom: 0.5rem;
}
#testimonials > p {
  margin-bottom: 2rem;
}

#testimonials .owl-carousel {
  margin-bottom: 3rem;
}
#testimonials button {
  margin: auto;
}

#testimonials .review-container .person {
  background: #ffffff;
  box-shadow: 0px 11px 44px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
  padding: 14px;
  display: flex;
  position: relative;
  top: 40px;
  width: 90%;
}

#testimonials .review-container .person img {
  width: 4rem;
  margin-right: 10px;
}

#testimonials .review-container .person .name-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #000000;
}

#testimonials .review-container .review {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #474748;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 10px 34px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 55px 25px 25px 30px;
}

.fadeIn {
  position: relative;
  animation: animateTop0 2s ease;
}

@keyframes animateTop0 {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
